<head>
    <%include head.ejs %>
    <title> Gamification - <%= siteTitle %></title>
</head>
<body>


<style>
    .clickable:hover {
        background-color: #ebebeb;
    }
</style>

<script>
    function displayData(event) {
        alert(event.target.valueOf());
    }

    function downloadJSON(element) {

        let data = "text/json;charset=utf-8," + encodeURIComponent(results);

        element.setAttribute("href", "data: " + data);
        element.setAttribute("download", "results.json");

    }

    $(document).ready(function() {
        $('#downloadButton').click(function() {
            let results = <%- JSON.stringify(data.results) %>;

            console.log("tried to download json with: " + results);
        });
    });

</script>
<%include header.ejs%>
<div class="container" id="pageContainer" style="margin-top: 120px">

</div>

<h1>Admin-Page</h1>

<div>
    <p>Das ist die Admin-Page.</p>
</div>

<div>
    <p>Übersicht über gespeicherte Fragebögen </p>
    <ul>
        <% data.questionnaires.forEach(function(item) { %>
            <li> <i><%= item.name %></i> mit <%= item.content.itemBlocks.length %> ItemBlocks </li>
        <% }); %>
    </ul>
</div>

<div>
    <p> Übersicht über eingegangene Ergebnisse</p>
    <table>
        <thead>
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Anzahl der Itemblöcke </th>
        </tr>
        </thead>

        <tbody>
        <% for (var i = 0; i < data.results.length; i++) { %>
            <tr class="clickable" onclick="displayData" >
                <td> <%= data.results[i]._id %></td>
                <td> <%= data.results[i].name %></td>
                <td> <%= data.results[i].data.length %></td>
            </tr>
        <% }%>
        </tbody>
    </table>

    <div id="container"></div>

    <script>
        var obj = <%- JSON.stringify(data.results) %>;
        var data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(obj));

        $('<a href="data:' + data + '" download="data.json">Download aller Ergebnisse</a>').appendTo('#container');
    </script>
</div>

<div>
    <p> Auswahl des Modus und des Fragebogens:  </p>
    <form action="backend" method="post">
        <select name="mode" id="mode">
            <option value="Random">Random</option>
            <option value="Plain">Plain</option>
            <option value="Rich">Rich</option>
            <option value="Gamified">Gamified</option>
        </select>

        <select name="questionnaire" id="questionnaire">
            <% data.questionnaires.forEach(function(item, number) { %>
                <option value=<%= number %> ><%= item.name %> </option>
            <% }); %>
        </select>

        <div>
            <label for="fileUpload">Neuer Fragebogen (JSON-Format): </label>
            <input type="file" id="fileUpload">
            <p style="color: red">ACHTUNG: Wer einen Fragebogen im falschen Format hochlädt, <i>wird</i> die Applikation kaputtmachen.</p>
        </div>


        <button class="btn continueButton" type="submit" id="modeSubmitButton" > Einstellungen Speichern </button>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


<% include footer.ejs%>
</body>